doctype 5
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel="shortcut icon", href="/img/favicon.gif")
    title= title
    !=css('bootstrap')
    !=css('style')

  body
    div#page
      header
      noscript
        :markdown
          This site depends on javascript and cookies, thoroughly and completely.
          Please enable and allow scripts from this site in order to use it.  If your
          device does not support javascript, our apologies -- feel free to contact us
          at cfd@media.mit.edu and we will consider adding support for your device.
        
          For the security conscious, the full javascript source code for this site
          is freely available at https://github.com/yourcelf/firestarter if you'd like
          to examine it.
      div#flash
      div#app
        em Sparking...
        img(src="/img/sparking.gif")

    <script type='text/javascript'>
    != "var INITIAL_DATA = " + JSON.stringify(initial_data) + ";"
    != "var INTERTWINKLES_BASE_URL = '" + intertwinkles_base_url + "';"
    </script>

    script(type="text/template", id="addFirestarterTemplate")
      div.row-fluid
        div.span6.offset3
          h3 New Firestarter
          form#new_firestarter_form.form-horizontal
            div.control-group
              label.control-label(for="id_group") Group
              div.controls#group_controls
              
            div.control-group
              label.control-label(for="id_name") *Event name
              div.controls
                input#id_name(type='text', name='name')
            div.control-group
              label.control-label(for="id_prompt") *Firestarter question
              div.controls
                textarea#id_prompt(name='prompt')
            div.control-group.slugfield
              label.control-label(for="id_slug") *Code name
              div.controls
                input#id_slug(type='text', placeholder='Unique name')
                div.firestarter-url
                div.help-inline
                  | Anyone with the URL can add responses.
            div.control-group
              div.controls
                label.checkbox
                  input#id_public(type='checkbox', checked='checked', name='public')
                  | List on the firestarter homepage
                div.help-inline
                  | This makes it easier for participants to find, but less private.
            div.control-group
              div.controls
                input.btn.btn-danger#submit_new_firestarter(type="submit", value="Start")

    script(type="text/template", id="splashTemplate")
      div.container-fluid
        div.row-fluid
          div.span12(style='text-align: center;')
            h1 Firestarter
            p Go around, ice breaker, introductions, etc.
            p
              a.btn.btn-large.btn-primary.new-firestarter(href='#')
                | New Firestarter

    script(type="text/template", id="firestarterTemplate")
      div.container-fluid
        div.row-fluid
          div.span12(style='text-align: center;')
            div.first-loading
              em Sparking...
              img(src="/img/sparking.gif")
            h1.name
            div.byline
              span.date
              span.participants
            div.prompt
        div.row-fluid
          div.span6.offset3
            a.btn.btn-danger.btn-large#add_response Add response
            div.add-response-holder
        div.row-fluid
          div.span12.responses

    script(type="text/template", id="editResponseTemplate")
      form.form-horizontal#edit_response_form
        div.control-group
          label.control-label(for="id_name") Name
          div.controls#name_controls
        div.control-group
          label.control-label(for="id_response") Response
          div.controls
            textarea#id_response
              <%= response  %>
        div.control-group
          div.controls
            input.btn.btn-danger(type='submit', value='Add')

    script(type="text/template", id="responseTemplate")
      div.span3.pull-left

    script(src="https://login.persona.org/include.js")
    script(src="/socket.io/socket.io.js", type="text/javascript")
    !=js('frontend')
    include analytics.html
